{{ partial "header.html" . }}

    <!-- Wrapper -->

      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <div class="logo">
              {{ with .Site.Params.logoimage }}
              <img src="{{ . }}" width="100%" style="padding: 10px 10px 10px 10px;">
            {{ end }}
            {{ with .Site.Params.logo }}            
              <span class="icon {{ . }}"></span>
            {{ end }}
            </div>
            <div class="content">
              <div class="inner">
                <h1>{{ .Site.Params.title | safeHTML }}</h1>
                <p>{{ .Site.Params.description | safeHTML }}</p>
              </div>
            </div>
            <div class="product">
              <a href="/products">
              {{.Site.Params.product}}
              </a>
            </div>
            <nav>
              <ul>
                {{ range where .Data.Pages.ByWeight "Section" "menu" }}
                  <li>{{ if isset .Params "link" }}<a href="{{ index .Params "link" }}"{{else}}<a href="#{{ .File.TranslationBaseName }}"{{end}}>{{ if .GetParam "menuname" }}{{ .GetParam "menuname" }}{{ else }}{{ .Title }}{{ end }}</a></li>
                {{ end }}
              </ul>
            </nav>
        <!-- Multilanguage -->
          <div id="languages">
            {{ if .IsTranslated }}
              {{ range $i, $e := .Translations }}
                {{ if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
              {{ end}}
            {{ end }}
          </div>
          </header>

        <!-- Main -->
          <div id="main">
            {{ range where .Data.Pages "Section" "menu" }}
              {{ .Render "onepagestyle" }}
            {{ end }}
          </div>

{{ partial "footer.html" . }}
